*, *::before, *::after { box-sizing: border-box; letter-spacing: 0; }
body, h1, h2, h3, p, dl, dd { margin: 0; }
button, input, select, textarea { font: inherit; }
button, select { cursor: pointer; }
img { max-width: 100%; }
table { border-collapse: collapse; }
